<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="section-headline text-center">About Us</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="lead text-left">
                    BDE Preworkout came about through my own experience navigating the supplement world.
                    I enjoyed trying new mixes, it made me excited to hit the gym and see what I could do with it.
                    But sometimes it'd made me agitated. Other times made for sleepless nights. Some had so much 
                    caffeine that it felt like a panic attack. Looking at the nutrition label for guidance often 
                    was a source of frustration, specific quantities of caffeine or beta-alanine hidden behind 
                    "proprietary blends", providing only the sum total of all the supplements. In an effort to dial 
                    back the adverse side effects I developed this tool to create the best mix for anybody, while 
                    also being open, honest, and clear about what's inside. 
                </p>
            </div>
            <div class="col-md-6">
                image
            </div>
        </div>
    </div>  
</section>
  